<header [title]='headTitle' [showNews]="true" style="text-align:center;"></header>
<ion-content padding>
 <!-- Ion Card data to show name , Phone no, gender and option to edit fields  -->
<div *ngIf="(dataArray != '')">
  <!-- <div style="width: 100%;height:1px; background-color:#3f3d77;"></div> -->
  <ion-card *ngFor="let val of dataArray; let i = index">
    <ion-item>
      <ion-avatar style="margin-right: 0px" item-start>
        <ion-icon class="appTextColor" style="font-size: 30px;" name="md-person"></ion-icon>
      </ion-avatar>
      <h2 class="appTextColor" style="display: inline-block">{{val.name}}</h2>
      <ion-icon class="appTextColor" style="font-size: 20px;float: right;" name="md-create" (click)="editData(i)"></ion-icon>
    </ion-item>
    <ion-card-content>
      <ion-row>
        <ion-col class="col-50">
          <p >Phone</p>
        </ion-col>
        <ion-col class="col-50">
          <p class="appTextColor">{{val.mobile}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
          <ion-col class="col-50">
            <p>Gender</p>
          </ion-col>
          <ion-col class="col-50">
            <p class="appTextColor">{{val.gender}}</p>
          </ion-col>
        </ion-row>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
