<header [title]='titleHeader' [hideNews]='false' style="text-align:center;"></header>
<ion-content padding>
  <div class="home">

    <div class="form" style=" text-align:center;">


      <ion-item class="width90">
        <!-- <ion-icon item-left name="mail"></ion-icon> -->
        <ion-label class="appTextColor" floating>User ID</ion-label>
        <ion-input maxlength="10" type="text" [(ngModel)]="nameField"></ion-input>
      </ion-item>

      <ion-item class="width90">
        <!-- <ion-icon item-left name="lock"></ion-icon> -->
        <ion-label class="appTextColor " floating>Password</ion-label>
        <ion-input type="password" [(ngModel)]="passField"></ion-input>
      </ion-item>
      <br>
      <br>
      <!-- <br> -->
      <div>
        <ion-buttons padding-top class="buttonLogin">
          <button class="appColor" (click)="submitButton()" ion-button full round>Login</button>
        </ion-buttons>
      </div>
    </div>
  </div>

</ion-content>
