<header [title]='titleHeader' [showNews]="true" style="text-align:center;"></header>
<ion-content padding>
  <div class="home">
    <!-- <div class="" style="margin-bottom:20px">
      <button class="buttonSubmit newsBtn" >News</button>
    </div> -->


    <div class="form">
      <!-- Form to Add Name and Phone No. -->
      <div *ngIf="(index == null)">
      <h3 class="appTextColor">Add User</h3>
    </div>
    <div *ngIf="(index != null)">
        <h3 class="appTextColor">Edit User</h3>
      </div>
      <hr style="margin-bottom: 10px;">
      <div>
        <label class="labelClass">Name (Max:15 characters):</label>
      </div>
      <div class="inputDiv">
        <input type="text" maxlength="15" class="input_field" [(ngModel)]="nameField" placeholder=" Name">
      </div>
      <div class="fieldClass">
        <label class="labelClass">Phone :</label>
      </div>
      <div class="inputDiv">
        <input type="tel" maxlength="10" minlength="10" class="input_field" [(ngModel)]="phoneField" placeholder=" Phone">
      </div>
      <div class="fieldClass">
        <label class="labelClass">Gender :</label>
      </div>
      <ion-list radio-group [(ngModel)]="gender" class="genderList">
        <ion-item>
          <ion-label>Male</ion-label>
          <ion-radio value="Male">
          </ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Female</ion-label>
          <ion-radio value="Female">
          </ion-radio>
        </ion-item>
        
      </ion-list>
      <div class="buttonDiv" style="margin-bottom:10px;">
        <button class="buttonSubmit" (click)="submitButton()">Submit</button>
      </div>
    </div>
  </div>
</ion-content>
