page-home {
  p {
    text-align: center;
  }

  .home {
   
    border-top: none;
    margin-top: 16px;
    color: white;
    font-weight: 500;
    height: 40px;
    padding-left: 10px;
  }

  .home-ios {
    margin-top: 36px !important;
  }

  .toolbar-background-md {
    border-color: #b2b2b2;
    background: #f8f8f8;
    background-color: #3f3d77;
  }

  ion-toolbar.damco-subheader .toolbar-background {
    background-color: #3f3d77 !important;
  }

  .toolbar-ios {
    margin-top: 7px;
  }

  .platform-ios {
    position: relative;
    margin-top: 35px;
    // margin-top: 142px;
  }

  .back-button.show-back-button {
    color: white;
  }

  .damco-subheader.toolbar-md {
    min-height: 40px !important;
  }

  .subhead-title .toolbar-title {
    color: white !important;
    // text-align: left;
  }

  .logo-top {
    margin-top: 30px;
  }

  .buttonDiv {
    margin-top: 10%;
  }

  .home-Button {
    border-color: #3f3d77;
    color: #3f3d77;
    background-color: transparent;
    width: 75%;
    height: 40px;
    border: 1.5px groove;
    border-radius: 7px;
    font-size: 17px;
    font-weight: bold;
  }

  button:active {
    background-color: #3f3d77;
    color: white;
  }

  .form {
    margin-top: 30px;
  }

  .labelClass {
    font-size: 17px;
    color: #3f3d77 !important;
    font-weight: bold;
  }

  .inputDiv {
    margin-top: 7px;
  }

  .fieldClass {
    margin-top: 10px;
  }

  .input_field {
    width: 100%;
    height: 45px;
    color: rgb(50, 50, 50);
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-color: #3f3d77;
    background-color: transparent;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 5px 7px;
  }

  .buttonSubmit {
    height: 40px;
    width: 90%;
    background-color: #3f3d77;
    color: white;
    // border: 1.5px groove;
    border-radius: 17px;
    font-size: 17px;
    font-weight: bold;
    margin-top: 0px;
  }

  .buttonDiv {
    text-align: center;
  }


  // table Css
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }

  /* Zebra striping */
  tr:nth-of-type(odd) {
    background: #eee;
  }

  th {
    background: #3f3d77;
    color: white;
    font-weight: bold;
  }

  td,
  th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
  }

  .buttonSubmit.newsBtn {
    width: 22%;
  }

  .list-ios.genderList .item-ios{
    border: none !important;
  }
  .appTextColor {
    color: #3f3d77;
  }
  
  .appColor {
    background-color: #3f3d77;
  }
}
