// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.loading-wrapper {
  background: transparent !important;
  box-shadow: none !important;
}

ion-spinner * {
  stroke: #fff !important;
}

ion-spinner {
  height: 45px;
  width: 45px;
}

.platform-ios ion-content .scroll-content {
  top: 50px;
}
.platform-android ion-content .scroll-content {
  top: 40px;
}

.appTextColor {
  color: #3f3d77;
}

.appColor {
  background-color: #3f3d77;
}
.width80{
  width: 80%;
}
.width70{
  width: 70%;
}
.width90{
  width: 90%;
}
