<header [title]='headTitle'[showNews]="true" style="text-align:center;"></header>
<ion-content>
  <ion-card *ngFor="let item of feedData">
    <div *ngIf="item.urlToImage">
    <img srcset="{{item.urlToImage}}" alt="">
    <ion-card-content style="padding: 10px;padding-bottom: 0px">
      <div class="feed-title">{{item.title}}</div>
      <div class="feed-description">{{item.description}}</div>
    </ion-card-content>
    <button ion-button small style="float: right; margin:10px" class="appColor" (click)="showMore(item)">More &nbsp;&nbsp;
        <ion-icon name="ios-arrow-forward"></ion-icon>
      </button>
  </div>
  </ion-card>
</ion-content>
