
<ion-list>
    <ion-list-header>Menu</ion-list-header>
    <div *ngIf = "page != 'News'">
      <button  ion-item (click)="goToNewsFeed()">News Feed</button>
    </div>
    <div *ngIf = "page != 'Home'">
    <button  ion-item (click)="goToHomePage()">Add User</button>
  </div>
    <div *ngIf = "page != 'View'">
      <button  ion-item (click)="goToViewUser()">View User List</button>
    </div>
    <button ion-item (click)="logOut()">Logout</button>
  </ion-list>
